body {
	background-color: #808080;
	overflow-x: hidden;
}

::selection {
	background-color: lightblue;
	color: slategrey;
}

h4 {
	color: white;
	font-family: Sans-serif;
	font-weight: normal;
	margin: 20px;
}

.container { /*The square that holds the main content in the middle of the page*/
	margin: -10px;
	background-color: red;
	padding-top: 10px;
}

.paragraph-image { /*The overall container for paragraphs that sit next to images*/
	margin-right: -10px;
}

.image-group { /*The individual paragraph/image squares within the paragraph-image group*/
	padding-right: 0;
}

.image { /*Image formatting*/
	width: 100%;
	margin-left: -10px;
	margin-bottom: 20px;
}


@media screen and (min-width: 768px){
	.container {
		background-color: #404040;
		padding: 10px;
	}
	.paragraph-image {
		display: flex;
		margin-right: 10px;
	}
	.image-group {
		flex: 50%;
		padding-right: 20px;
		margin-top: -20px;
	}
	.image {
		border: 3px solid white;
		border-radius: 5px;
		box-shadow: 0 5px 10px rgba(0,0,0,0.3);
		margin-top: 20px;
	}
}
@media screen and (min-width: 1280px){
	.container {
		width: 1250px;
		margin: auto;
		border-radius: 16px;
		box-shadow: 0 5px 10px rgba(0,0,0,0.3);
		margin-top: 40px;
		background-color: #404040;
		padding: 10px;
	}
	.paragraph-image {
		display: flex;
		margin-right: 10px;
	}
	.image-group {
		flex: 50%;
		padding-right: 20px;
		margin-top: -20px;
	}
	.image {
		border: 3px solid white;
		border-radius: 5px;
		box-shadow: 0 5px 10px rgba(0,0,0,0.3);
		margin-top: 20px;
	}
}